* {
  box-sizing: border-box;
}

/* postcss-normalize is installed on project creation */
/* see https://create-react-app.dev/docs/adding-css-reset/ */
/* bring in normalize.css styles */
/* @import 'normalize.css'; */

body {
  margin: 0;
  font-family: 'American Typewriter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: beige;

  color: #333;
}

/****************************************
 * * APP
 *****************************************/








