.main {
  flex-grow: 1;
  display: flex;
  border: 0.2px solid black;
  border-radius: 10px;
  flex-direction: column;
  
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
}

.actions {
  padding: 1rem 0;
  border-bottom: 0.5px black solid;
}
#disablemode {
  visibility: hidden;

}
#enablemode {
  visibility: visible;
}

.actions ul {
  display: grid;
  list-style: none;
  grid-template-columns: minmax(20%, auto)  repeat(2, 10%);
}
.actions button {
  background: white;
  border-radius: 10px;
}

.card li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: grid;
  list-style: none;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 70px) repeat(1, 1fr) repeat(
      3,
      minmax(40px, auto)
    );
}
.card h3{
  margin: auto;
}
.card button {
  border-bottom: 1px solid black;
  background-color: beige;
  border-top: none;
  border-left: none;
  border-right: none;
  min-height: 60%;
  margin: auto
}

.card img {
  max-width: 100%;
  border-radius: 50%;
}



.addnewpersonForm{
  display: flex;
  left: 0;
  right: 0;
  border: 2px black solid;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  z-index: 99;
  margin: auto;
  min-height: 50vh;
}
.addnewpersonForm input {
  display: block;
  margin-bottom: 15px;
  width: 80%;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
}
.addnewpersonForm h1 {
  display: flex;

  justify-content: center;
}
.addnewpersonForm label{
  display: flex;
  justify-content: center;
}


.btnsave{
  max-width: 70px;
}

.btnadd{
max-width: 70px;

}
.btncancel{
  max-width: 50px;
}

.nocontactmessage{
  display: flex;
  justify-content: center;
}

.nocontactmessage h1{
  color: red;
  font-size: 35px;
}

.overlay{
  position: fixed;
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: all;
  background-color: rgba(0, 0,0, .5);
}
.xbutton{
  width: 100%;
 display: flex;
 justify-content: end;
}